@model ViewModels.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "MoviesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    this is multiline
       comments
*@
@{
    var className = Model.movie.Count > 0 ? "Popular" : null;
}
<h1 class="@className">Movies</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Movie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movies in Model.movie)
        {
            <tr>
                <td>
                    @movies.name
                </td>
            </tr>
        }
    </tbody>
</table>